{
  "presets": [
    ["@babel/env", {
      "targets": "> 0.25% in FR, IE 11",
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread", "module:nanohtml"]
}
