<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
        <link href="./styles.css?v{{version}}" rel="stylesheet">
    </head>
    <body>
        <div id="init-loader" class="valign-wrapper">
            <div>
                <div>
                    <div>
                        <!--[if !IE]>-->
                        <em class="msg">{{loading}}</em>
                        <!--<![endif]-->
                        <!--[if IE]>
                        <em>{{internet_explorer}}</em>
                        <link href="./error.css?v{{version}}" rel="stylesheet">
                        <![endif]-->
                    </div>

                    <noscript>
                        <em>{{javascript}}</em>
                        <link href="./error.css?v{{version}}" rel="stylesheet">
                    </noscript>
                </div>
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-teal-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div><div class="gap-patch">
                        <div class="circle"></div>
                      </div><div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                </div>
      <!--
                <div class="progress">
                    <div class="indeterminate"></div>
                </div> -->
            </div>
         </div>
        <div id="nav">
            <header class="left">
                <span class="icon"><i class="fas fa-fw fa-map-marker-alt"></i></span><span data-mobile="{{header_short}}">{{header}}</span>
            </header>
            <ul class="right">
                <!-- <li data-tooltip="{{export}}" id="save" ><a class="waves-effect waves-light btn-flat" href="#!"><i class="fas fa-file-download"></i></a></li> -->
                <!-- <li data-tooltip="{{help}}" id="help"><a class="waves-effect waves-light btn-flat" href="#!"><i class="fas fa-question-circle"></i></a></li> -->
                <li data-tooltip="{{about}}" id="infos"><a class="waves-effect waves-light btn-flat" href="#!"><i class="fas fa-info"></i></a></li>
                <li data-tooltip="{{fullscreen}}" id="fullscreen"><a class="waves-effect waves-light btn-flat" href="#!"><i class="fas fa-expand"></i></a></li>
            </ul>
            <div id="loading"></div>
        </div>
        <div id="sidepanel">
            <div id="sidepanel-tools">
                <a id="sidepanel-closer" href="#!" class="waves-effect waves-light">
                    <i class="fas fa-fw fa-angle-left"></i>
                </a>
                <a id="list-toggle" href="#!">
                    <span href="#!" class="toggle waves-effect waves-light" data-tooltip="{{back_to_map}}">
                        <i class="fas fa-fw fa-list"></i>
                        <span id="list-count">0</span>
                    </span>
                    <span class="back">
                        {{back_to_map}}
                    </span>
                </a>
            </div>
        </div>
        <div id="list">
            <header>

            </header>
            <div class="list-content">
            </div>
        </div>
        <div id="modal" class="modal modal-fixed-header">
            <div class="modal-header">
                <h3 class="modal-title"></h3>
                <a href="#!" class="closer right waves-effect waves-red btn-flat"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-content"></div>
        </div>
        <div id="map"></div>
        <div id="map-tools">
            <div id="layers">
                <i class="fa fa-fw fa-layer-group"></i>
            </div>
            <div id="zoom">
                <a id="zoom-in" class="waves-effect waves-light"><i class="fa fa-fw fa-plus"></i></a>
                <a id="zoom-out" class="waves-effect waves-light"><i class="fa fa-fw fa-minus"></i></a>
            </div>
        </div>
        <script src="./scripts.js?v{{version}}"></script>
        <link href="./fonts/roboto/roboto.css" rel="stylesheet">
        <link href="./fonts/fontawesome/fontawesome.min.css" rel="stylesheet">
    </body>
</html>
