$inactive-color: #888;

#form {

    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 7px 25px 25px;

    > .filter > div > label {
        font-size: 1rem;
        // line-height: 1.4rem;
        .icon {
            position: relative;
            margin-right: 10px;
            font-size: .9rem;
            line-height: 1rem;
            top: -1px;
        }
    }

    .filter {
        margin-top: 20px;
    }
    .filter .filter {
        padding-left: 20px;
    }


    label {
        color: inherit!important;
        width: 100%;
        margin: 0;
        font-size: .8rem;
        .icon {
            margin-right: 10px;
            font-size: .8rem;
        }
        .reset {
            float:right;
            line-height: 20px;
            padding: 0 7px;
            font-size: .8rem;
            cursor: pointer;
            // &:hover {
            //     color: $color-text;
            // }
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top:-10px;
                bottom:-10px;
                left:-10px;
                right:-10px;
            }
        }

    }

    .text label {
        &, span , .icon {
            transition: transform .2s ease-out;
        }
        &.active {
            transform: translateY(-14px);
            // span,.icon{
            //     transform: scale(0.8)!important;
            //     transform-origin: 0 0;
            // }
        }
    }



    .filter {
        color: $secondary-color;
    }
    .inactive {
        .reset {
            opacity: 0.2;
        }
        color: $inactive-color;
        .select-dropdown li span {
            color: $inactive-color;
        }
        &.checkbox label span:before, .select-dropdown label input:not([disabled]) + span:before, .select-dropdown {
            // border-color: $inactive-color;
            // border-color: rgba(black, 0.2);
        }
        .select-wrapper .caret {
            fill: $inactive-color;
        }
    }

    .number {
        > div {
            position: relative;
        }
        input {
            display: inline-block;
            width: 75%;
        }
        .helper {
            display: inline-block;
            width: 20%;
            text-align: center;
            pointer-events: none;
            margin-left: 4%;
            position: relative;
            top: 1px;
            white-space: nowrap;
        }
        &:after {
            content:"";

        }
    }

    .radio {
        label {
            display: block
        }
    }
    .search label:before {
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        margin-right: 10px;
    }
    .separator {
        margin: 35px 0;
        width: 100%;
        border-top: 1px solid #000;
        opacity: 0.2;
    }

    .row .checkbox {
        display: inline-block;
        &:not(:first-child) {
            margin-left: 20px;
        }

    }


    .collapse {
        > label {
            cursor: pointer;
            display: block;
            padding: 10px;
            padding-right: 0;
            width: auto;
            position: relative;
            margin-left: -10px;
            // font-size: 18px;
            .icon {
                transition: transform .4s, top .4s;
                margin-right: 22px!important;
                margin-left: 2px!important;
            }
        }
        > .filter {
            opacity: 0;
            transition: opacity .2s;
            position: absolute;
            height: 0;
            overflow: hidden;
        }
        &.open {
            > label .icon {
                transform: rotateX(180deg);
                top: -2px;
            }
            > .filter {
                display: block;
                opacity: 1;
                height: auto;
                position: relative;
                overflow: visible;
            }
        }
    }


    input.select-dropdown {
        padding-right: 30px!important;
        font-size: .8rem;
        color: inherit;
    }
    ul.select-dropdown {
        padding: 5px;
        li {
            padding: 5px;
            min-height: auto;
            > span {
                padding: 0;
                // color: inherit;
            }
            &:not(.selected) {
                > span {
                    color: $inactive-color
                }

            }
        }
    }
    .select-wrapper .caret {
        fill: $secondary-color;
    }

}
