html {
    color: $color-text;
}

h1, h2, h3, h4 {
    color: $color-header;
}

h3 {
    font-size: 1.5rem;
    position: relative;
    .chip {
        top: -4px;
    }
}

h4 {
    font-size: 1.35rem;
    position: relative;
    padding-top: 15px;
}

.chip {
    position: relative;
    border-radius: $border-radius;
    padding: 0 5px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    background: rgba(black, .1);
    white-space: nowrap;
}

label {
    margin-right: 5px;
}

.bloc {
    padding-bottom: 5px;
    padding-left: 15px;
    border-left: 4px solid;
    margin-top: 20px;
}

table td {
    padding: 5px;
}

.bloc-1 {
    border-color: $accent;
}
// .bloc-1 + .bloc-1,
// .bloc-2 + .bloc-2,
// .bloc-3 + .bloc-3 {
//     margin-top: -10px;
//     padding-top: 10px;
// }
.bloc-2 {
    border-color: adjust-hue($accent,90);
}
.bloc-3 {
    border-color: adjust-hue($accent,180);
}
